.new-task {
    height: auto;
    width: 100%;
    max-width: 40rem;
    padding: 1.4rem 2rem;
    font-size: 1.3rem;
    border: 0;
    background-color: rgba(0,0,0,.2);
    border-radius: 4px;
    color: $white;

    &::placeholder {
        color: darken($white, 20%);
    }

    &:focus {
        outline: none;
        border: 1px solid $pink;
    }
}